
<h1>Sign up for Headache Tracker!</h1>
<h2>Fill out the following information to get started:</h2>

<!-- Flex div holds everything in the center of the screen, next to each other -->
<div class="flex">
  <!-- Links to form in other file -->
  <%= render 'form', user: @user %>
</div>
