<h1>Welcome to Headache Tracker!</h1>

<div class="flex">
  <div><%= image_tag('home2.png') %></div>
  <div><%= image_tag('home1.png') %></div>
  <div><%= image_tag('home3.png') %></div>
</div>

<div class="flex">
  <div class="label"><h2>Have a Headache?</h2></div>
  <div class="label"><h2><h2>Log Your Symptoms!</h2></div>
  <div class="label"><h2>Find Patterns, Feel Better!</h2></div>
</div>
