<div id="start" class="customDiv">
<div class="flex">
<div>
<h3>When you have a headace, you can come here to log information about it, such as the time and date that it
  started and ended. You will also be asked a series of questions about different triggers. After you've logged
  a few headaches, you will see graphs of these triggers showing how often they appeared before a headache.
  This information will help you identify which triggers are affecting you, and which aren't.<br><br>
  Before we log your first headache, let's take the time to look at the list of suggested triggers and make
  sure you want to include all of them. You will also be able to add up to 10 of your own triggers, if the
  suggested triggers do not include one you're looking for.</h3>

<h3>Let's get started!</h3>
</div>
  <div id="startNext" class="button"><%= image_tag 'start.png', class: 'rotate' %></div>
</div>
</div>
