// Place all the styles related to the graphs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.graphTable {
  width: 500px;
  border: 2px solid black;
  display: none;
}

.graphTable th {
  background-color: #c5d5c5;
  padding-left: 20px;
  padding-right: 20px;
  height: 10px;
  font-family: Trebuchet MS;
  font-size: 12px;
}

.graphTable td {
  padding-left: 20px;
  padding-right: 20px;
  height: 10px;
  font-family: Trebuchet MS;
  font-size: 12px;
}

.flexgraphs {
  display: flex;
  height: 450px;
  width: 1050px;
  justify-content: space-between;
  align-items: center;
  margin-left: 12%;
}

.flexMenuAndTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
  width: 500px;
}

.children {
  width: 50%;
  margin: 0 auto;
}

#medicineHolder, #alcoholHolder, #chocolateHolder, #dehydratedHolder, #overeatingHolder,
#periodHolder, #exerciseHolder, #eyestrainHolder, #lightsHolder, #sleepHolder, #stressHolder {
  display: none;
}

.fadeMessage {
  text-align: center;
  font-size: 16px;
}

h2 {
  text-align: center;
}

/* Dropdown Button */
.moreClick {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.moreClick:hover, .moreClick:focus {
  background-color: #e3e0cc;
  transform: scale(1);
}

/* The container */
.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 50%;
}

/* Dropdown content - hidden until clicked */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #e3e0cc;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-family: 'Poppins', sans-serif;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: 'Poppins', sans-serif;
}

.dropdown-content a:hover:not(.active) {
  background-color: #e4d1d1;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
