// Place all the styles related to the graphs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.graphTable {
  width: 500px;
  border: 2px solid black;
  display: none;
}

.graphTable th {
  background-color: #c5d5c5;
  padding-left: 20px;
  padding-right: 20px;
  height: 10px;
  font-family: Trebuchet MS;
  font-size: 12px;
}

.graphTable td {
  padding-left: 20px;
  padding-right: 20px;
  height: 10px;
  font-family: Trebuchet MS;
  font-size: 12px;
}

.flexgraphs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10%;
  margin-top: 0;
  padding: 0;
  border: 2px solid green;
}

.flexMenuAndTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  border: 2px solid orange;
}

.header {
  width: 300px;
}

.right {
  flex: 1;
  width: 100px;
}

.children {
  width: 50%;
  margin: 0 auto;
}

#medicineHolder, #alcoholHolder, #chocolateHolder, #dehydratedHolder, #overeatingHolder,
#periodHolder, #exerciseHolder, #eyestrainHolder, #lightsHolder, #sleepHolder, #stressHolder {
  display: none;
  margin-top: 80px;
}

.fadeMessage {
  text-align: center;
  font-size: 16px;
}

h2, h4 {
  text-align: center;
  margin: 0 auto;
}

/* Dropdown Button */
.moreClick {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
}

/* The container */
.dropdown {
  position: relative;
  display: inline-block;
  width: 100px;
  flex: 1;
}

/* Dropdown content - hidden until clicked */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #e3e0cc;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-family: 'Poppins', sans-serif;
  border-radius: 8px;
}

/* Links inside the dropdown */
.dropdown-content span {
  color: black;
  display: block;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  padding: 10px;
  font-size: 12px;
  margin: 5px;
  cursor: pointer;
}

.dropdown-content li:hover:not(.active) {
  background-color: #e4d1d1;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


/* Modal styling for popup of instructions and total headaches logged */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  font-family: 'Poppins', sans-serif;
}

/* Modal Content */
.modal-content {
  background-color: #e3e0cc;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  font-family: 'Poppins', sans-serif;
  color: black;
  border-radius: 11px;
  font-size: 13px;
}

#pInsideModal {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
