// Place all the styles related to the graphs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.graphTable {
  width: 500px;
  border: 2px solid black;
  display: none;
}

.graphTable th {
  background-color: #c5d5c5;
  padding-left: 20px;
  padding-right: 20px;
  height: 10px;
  font-family: Trebuchet MS;
  font-size: 12px;
}

.graphTable td {
  padding-left: 20px;
  padding-right: 20px;
  height: 10px;
  font-family: Trebuchet MS;
  font-size: 12px;
}

.flexgraphs {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
}

.children {
  width: 90%;

}

.childrenHover {
  width: 90%;
  opacity: 100%;
}
