// All the image buttons have this class //

.Button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}
// This field needs a little margin //
#FourteenField {
  margin-left: 10px;
}
// Hides the question divs until they are clicked on and add margin to all //
#Eight,
#Eighteen,
#Eleven,
#Fifteen,
#Finish,
#Five,
#Four,
#Fourteen,
#FourteenTwo,
#Nine,
#Nineteen,
#One,
#Seven,
#Seventeen,
#Six,
#Sixteen,
#Ten,
#Thirteen,
#Three,
#Twelve,
#Twenty,
#TwentyOne,
#TwentyTwo,
#Two {
  display: none;
  margin-top: 80px;
}

#Start {
  margin-top: 80px;
}
// h2 and h3 settings //
h2,
h3 {
  text-align: center;
}

h2 {
  line-height: 1.5;
}
// The question divs //
.LogDivs {
  margin: 0 auto;
  width: 40%;
  padding: 15px;
  border-radius: 8px;
}
// Flex divs and then left and right divs, hold the images and questions next to each other //
.Flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.LeftDiv {
  margin-right: 25px;
  margin-top: 30px;
}

.RightDiv {
  margin-left: 80%;
  border: none;
  margin-top: 5px;
}
// These fields are input fields and need different settings //
.EditDate,
.OneField,
.TwoField {
  font-size: 14px;
  border: 1px solid black;
  padding: 5px;
  margin-left: 10%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
// The next buttons (look like a hand) //
.NextBtns {
  margin-left: 38%;
  margin-top: 10px;
  padding: 10px;
  width: 80px;
  border: 1px solid black;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  background-color: #c5d5c5;
  font-size: 14px;
}
// This section is for the checkboxes - they look like a round check or a round x rather than default checkbox ..
.Checkbox {
  display: none;
}

.CheckboxLabel {
  padding: 10px;
  display: block;
  position: relative;
  cursor: pointer;
  margin-left: 30%;
  margin-right: 30%;
}

label img {
  transition-duration: 0.1s;
  transform-origin: 50% 50%;
}
// Textboxes with centered text //
.TextBox {
  text-align: center;
}
// The final button has a background image and needed to be done differently because it's the final submit button //
.ButtonWithImage {
  background: url("/assets/iconFinish.png") no-repeat;
  height: 120px;
  width: 120px;
  outline: none;
  border: 0;
  display: block;
  cursor: pointer;
  margin-left: 30%;
}
// This section handles the hourglass rotation for the start button //
.Rotate {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  overflow: hidden;
  margin-left: 45%;
  margin-right: 45%;
}

.Rotate:hover {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
// Hides the medicine yes check box - it is shown only if the user types in information in the proceeding text box //
.ToHide {
  display: none;
}
// Custom trigger text inputs neext margin //
.CustomInput {
  margin-left: 30%;
  margin-right: 30%;
}

.CustomTriggerText {
  margin-right: 8%;
  width: 250px;
}
// Hide these fields //
#CheckboxNoReplacement,
#CheckboxNoReplacementCustom,
#HiddenERB10,
#HiddenERB11,
#HiddenERB12,
#HiddenERB2,
#HiddenERB3,
#HiddenERB4,
#HiddenERB5,
#HiddenERB6,
#HiddenERB7,
#HiddenERB8,
#HiddenERB9,
#Questions,
#Trigger1NameText,
#WaitIcon {
  display: none;
}

#Questions {
  margin-top: 50px;
}
// This is the table seen on the edit log page, it holds everything next to each other //
.EditTable {
  width: 30%;
  text-align: left;
  padding: 10px;
  margin-left: 35%;
  margin-top: -350px;
  vertical-align: top;
}

.EditTable td,
.EditTable tr {
  text-align: left;
}

table .EditCheckbox,
table .EditDate,
table h4 {
  float: left;
}
