// Place all the styles related to the log controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Setting font for entire page //
body {
  font-family: 'Poppins', sans-serif;
}

// All the image buttons have this class //
.button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}

// Input boxes (text) //
input {
  padding: 6px;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
}

// This field needs a little margin //
#fourteenField {
  margin-left: 10px;
}

// Hides the question divs until they are clicked on //
#one, #two, #three, #four, #five, #six, #seven, #eight, #nine, #ten, #eleven, #twelve, #thirteen, #fourteen, #fifteen, #sixteen, #seventeen, #eighteen, #nineteen, #twenty, #twentyone, #twentytwo, #finish, #fourteenTwo {
  display: none;
}

// Sets a margin at the top of all the question divs to move them down the page a little //
#start, #one, #two, #three, #four, #five, #six, #seven, #eight, #nine, #ten, #eleven, #twelve, #thirteen, #fourteen, #fifteen, #sixteen, #seventeen, #eighteen, #nineteen, #twenty, #twentyone, #twentytwo, #finish {
  margin-top: 80px;
}

// h2 and h3 settings //
h2, h3 {
  text-align: center;
}

h2 {
  line-height: 1.5;
}

// The question divs //
.logDivs {
  margin: 0 auto;
  width: 40%;
  padding: 15px;
  border-radius: 8px;
}

// Flex divs and then left and right divs, hold the images and questions next to each other //
.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.leftDiv {
  margin-right: 25px;
  margin-top: 30px;
}

.rightDiv {
  margin-left: 80%;
  border: none;
  margin-top: 5px;
}

// These fields are input fields and need different settings //
.oneField, .twoField {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  border: 1px solid black;
  padding: 5px;
  margin-left: 10%;
}

// The next buttons (look like a hand) //
.nextBtns {
  margin-left: 38%;
  margin-top: 10px;
  padding: 10px;
  width: 80px;
  border: 1px solid black;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  background-color: #c5d5c5;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

// This section is for the checkboxes - they look like a round check or a round x - these settings make them seem to turn green or red when clicked //
.checkbox {
  display: none;
}

label {
  padding: 10px;
  display: block;
  position: relative;
  cursor: pointer;
  margin-left: 30%;
  margin-right: 30%;
}

label img {
  transition-duration: 0.1s;
  transform-origin: 50% 50%;
}
// This field needs a little margin //
.textBox {
  text-align: center;
}

// The final button has a background image and needed to be done differently because it's the final submit button //
.button_with_image_save {
    background: url("/assets/iconFinish.png") no-repeat;
    height: 120px;
    width: 120px;
    outline: none;
    border: 0;
    display:block;
    cursor: pointer;
    margin-left: 30%;
}

// This section handles the hourglass rotation for the start button //
.rotate {
	-webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;

    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;

    overflow: hidden;
    margin-left: 45%;
    margin-right: 45%;
}

.rotate:hover {
	-webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform:rotate(180deg);
}

// Hides the medicine yes check box - it is shown only if the user types in information in the proceeding text box //
.toHide {
  display: none;
}

.customInput {
  margin-left: 30%;
  margin-right: 30%;
}

.customTriggerText {
  margin-right: 8%;
  width: 250px;
}

#questions, #hiddenERB2, #hiddenERB3, #checkboxNoReplacement, #hiddenERB4, #hiddenERB5, #waitIcon, #hiddenERB6, #hiddenERB7, #hiddenERB8, #hiddenERB9, #hiddenERB10, #hiddenERB11, #hiddenERB12, #trigger1NameText, #checkboxNoReplacementCustom {
  display: none;
}

#questions {
  margin-top: 50px;
}
