// Place all the styles related to the log_customization controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// This section is for the checkboxes - they look like a round check or a round x - these settings make them seem to turn green or red when clicked //
.checkbox {
  display: none;
}

label {
  padding: 10px;
  display: block;
  position: relative;
  cursor: pointer;
  top: 20px;
  left: 20px;
  width: 30px;
  height: 30px;
  border: 2px solid orange;
}

label:before {
  content: " ";
  display: block;
  position: absolute;
  top: 15px;
  left: 15px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.2s;
  transform: scale(0);
}

label img {
  transition-duration: 0.1s;
  transform-origin: 50% 50%;
}

:checked + label {
  border-color: #ffffff;
}

// Makes the yes checkboxes green when clicked //
:checked + label:before {
  content: "✓";
  background-color: green;
  color: green;
  transform: scale(1);
}

// Makes the no checkboxes red instead of green //
:checked + label[for='nextNo']:before {
  content: "✓";
  background-color: red;
  color: red;
  transform: scale(1);
}

:checked + label img {
  transform: scale(0.9);
  z-index: -1;
}

// This field needs a little margin //
.textBox {
  text-align: center;
}

// The final button has a background image and needed to be done differently because it's the final submit button //
.button_with_image_save {
    background: url("/assets/iconFinish.png") no-repeat;
    height: 120px;
    width: 120px;
    outline: none;
    border: 0;
    display:block;
    cursor: pointer;
    margin-left: 30%;
}

// This section handles the hourglass rotation for the start button //
.rotate {
	-webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;

    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;

    overflow: hidden;
    margin-left: 45%;
    margin-right: 45%;
}

.rotate:hover {
	-webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform:rotate(180deg);
}

// Hides the medicine yes check box - it is shown only if the user types in information in the proceeding text box //
.toHide {
  display: none;
}

.customInput {
  margin-left: 15%;
  margin-right: 15%;
  width: 65%;
}

.customTriggerText {
  margin-right: 8%;
  width: 250px;
}

#nextNo{
  margin-right: 20%;
}

#questions, #hiddenERB2, #hiddenERB3, #checkboxNoReplacement, #hiddenERB4, #hiddenERB5, #waitIcon, #hiddenERB6, #hiddenERB7, #hiddenERB8, #hiddenERB9, #hiddenERB10, #hiddenERB11, #hiddenERB12, #trigger1NameText, #trigger2NameText, #hiddenERB13, #trigger3NameText, #trigger4NameText, #trigger5NameText, #trigger6NameText, #trigger7NameText, #trigger8NameText, #trigger9NameText, #trigger10NameText, #hiddenERB14, #hiddenERB15, #hiddenERB16, #hiddenERB17, #hiddenERB18, #hiddenERB19, #hiddenERB20, #hiddenERB21 {
  display: none;
}

#questions {
  margin-top: 100px;
}

.flex {
  margin-left: 0;
}
