// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Alert styling - needs to be red since it's a danger alert */
#alert {
  text-align: center;
  color: red;
  font-size: 12px;
}

/* Width of the labels and alignment */
.label {
  text-align: left;
  width: 100px;
}

/* Button styling */
.btn {
  background-color: #e4d1d1;
  width: 75px;
  border-radius: 8px;
  outline: none;
  margin-left: 80%;
  margin-right: 10%;
  font-size: 14px;
  padding: 8px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
}

/* Adding to width of input boxes */
input {
  width: 200px;
}
