// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Width of the labels and alignment */
.label {
  text-align: left;
  width: 150px;
  font-size: 16px;
}

/* Button styling */
.btn {
  background-color: #e4d1d1;
  width: 175px;
  border-radius: 8px;
  outline: none;
  margin-left: 60%;
  margin-right: 10%;
  font-size: 14px;
  padding: 8px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  background-color: #e4d1d1;
  color: black;
}

/* Adding to width of input boxes */
input {
  width: 200px;
}

/* Changes h2 for this page */
h2 {
  background: #f0f0f0;
  font-family: 'Poppins', sans-serif;
  color: #9fa9a3;
}

/* Aligning items on the view account page */
.title {
  font-size: 16px;
  margin-bottom: 10px;
}

.info {
  font-size: 16px;
}
