// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.flex-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
  margin-left: 50px;
  height: 350px;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 300px;
}

.labels {
  text-align: center;
  margin-right: 90px;
}

.pictures {
  margin-right: 80px;
}

:focus {outline:0;}

a:hover {text-decoration:none; outline:0;}

img, img:hover {border:0; outline:0;}
