// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Flex div make everything line up horizontally */
.flex-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
  align-content: center;
}

/* Removes hover from button pictures */
a.button {
  &:hover {
    background: none;
  }
}

.child {
  margin-right: 50px;
}

.label {
  margin-right: 10px;
  width: 250px;
}
